* {
  margin: 0;
  padding: 0;
}
/* To have the header be adjusted to various viewports  */
.header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
/* To have the organize the navbar in relation to the header  */
.header-navbar {
  display: flex;
  list-style: none;
  gap: 30px;
}
/* The banner image being adhusted for the viewport  */
.banner {
  width: 100%;
  height: 200px;
}

.section {
  display: flex;
  margin: 10px;
  gap: 30px;
}

.content {
  padding: 20px 40px;
  border-left: 2px solid black;
}

.work {
  gap: 10px;
  flex-wrap: wrap;
  display: flex;
}

.work img {
  height: 300px;
  
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.profile-picture {
  border-radius: 70%;
  height: 50px;
  
}


.work-border {
    border-style: solid;
    border-radius: 8px;
    border-color: black;
}