* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.header-navbar {
  display: flex;
  list-style: none;
  gap: 30px;
}

.banner {
  width: 100%;
  height: 200px;
}

.section {
  display: flex;
  margin: 10px;
  gap: 30px;
}

.content {
  padding: 20px 40px;
  border-left: 2px solid black;
}

.work {
  gap: 10px;
  flex-wrap: wrap;
  display: flex;
}

.work img {
  height: 300px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
